<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="bg">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Blog</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li class="active"><a href="/create">Create post</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid text-center">
        <% if (messages[0]) {%>
          <div class="alert alert-danger">
            <%=messages%>
          </div>
        <%}%>
    </div>

    <div class="container-fluid text-center">
      <form action="" method="POST">
          <div class="container-fluid">
            <div class="form-group">
              <label for="title">Title</label>
              <input class="form-control" id="title" name="title" placeholder="(0/150)" type="text">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" rows="3" id="description" name="description" placeholder="(0/300)"></textarea>
            </div>
            <div class="form-group">
              <label for="text">Text:</label>
              <textarea class="form-control" rows="10" id="text" name="text" placeholder="(0/1000)"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Post</button>
          </div>
      </form>
    </div>

  </body>
</html>
